html {
  box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    background-color:  rgb(158, 50, 50);
    border: none;
    color: white;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.4vw;
  }

div {
    width: 50vw;
    height: 40vw;
    text-align: center;
    border: 1vw solid rgb(158, 50, 50);
    padding: 4vw;
    margin: 4vw;
    background-color: black;
    font-size: 2.4vw;
  }
  h1 {text-shadow: 2px 2px 5px rgb(158, 50, 50);color: grey}

.descritiva { font-family: helvetica; color: grey;}


