body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.team-info, .match-info {
    margin-bottom: 20px;
}

/* Estilo para os campos destacados */
.highlight {
    font-weight: bold;
    margin-top: 10px;
}

.team {
    margin-bottom: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}